//- 配置區
extends _layout.pug

block var
	-var url = ''
	-var link = 'html/'

block title
	title @practice

block css
	link(href='css/index.css' rel='stylesheet')

block js
	script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js')

//- 內容區
block content
	
	main
		table.table.table-striped.table-bordered.table-hover
			thead.thead-dark
				tr
					th 編號
					th 姓名
					th 居住城市
					th 生日
			tbody