//- 設定區
extends _layout.pug

block var
	-var url = ''
	-var link = 'html/'

block title
	title @practice

block css
	link(href='css/index.css' rel='stylesheet')

block js
	script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js')

//- 內容區
block content

	#app
		.control
			label 最小價錢
			input(v-model="minPrice")
			label 最大價錢
			input(v-model="maxPrice")
			label 關鍵字
			input(v-model="keyword")
			br
			span(v-for="(card,num) in cards")
				span {{num}}
				input(v-model.number="card.price")
				input(type="checkbox", v-model="card.soldOut")
		.menu
			h4(v-if="keyword") 以下符合搜尋{{keyword}}的項目
			.cards
				.card(v-for="card in cards",v-if="(basePrice + card.price>minPrice) && (basePrice + card.price<maxPrice) && (card.title.indexOf(keyword)!=-1)")
					img.cover(:src="card.cover")
					.info
						h3 {{card.title}}
							.soldOut(v-show="card.soldOut") 已售完
						.price {{basePrice + card.price}}$
							.other (+{{serviceFee}}%服務費)