extends _layout.pug

block var
	-var url = ''
	-var link = 'html/'

block title
	title @practice

block css
	link(href='css/index.css' rel='stylesheet')

block js
	script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js')

//---------------------------內容區Start---------------------------
block content

	#app
		.ticket
			.date {{ticket.date}}
			.info {{company}}
			.info {{ticket.direction=="south"?"南下":"北上"}}
			.station {{ticket.from}}站
			.arrow ↓
			.station {{ticket.to}}站
			.info(v-html="ticket.other")
			.info 特價 {{ticket.price*ticket.discount}}元

		.ticket
			.date {{ticket.date}}
			.info {{company}}
			.info {{ticket.direction=="south"?"南下":"北上"}}
			.station {{ticket.to}}站
			.arrow ↓
			.station {{ticket.from}}站
			.info(v-html="ticket.other")
			.info 售價 {{ticket.price}}元
//---------------------------內容區End---------------------------